form(action="/api/todos", method="post")
    input(type="text", placeholder="Todo name", name="name")
    button(type="submit") create

if todos && todos.length
    ul
        each todo, index in todos
            li(class=`todo-${index}`)
                span= `${todo.name} `
                a(href=`/edit/${todo.id}`)='edit '
                button(class='delete-todo', onclick=`deleteTodo('${todo.id}', ${index})`) delete
else
    p='No todos'


script(src="../assets/script/main.js")